.item-list {
    border: 1px groove #ccc;
    border-radius: 4px;
    background: #fff;
    background: -webkit-linear-gradient(#5edbff, #cfd9de);
    background: -o-linear-gradient(#5edbff, #cfd9de);
    background: -moz-linear-gradient(#5edbff, #cfd9de);
    background: linear-gradient(#5edbff, #cfd9de);
}

.club-badge {
    border: 1px solid #b0b0b0;
    background: #f3ecda;
    background: -webkit-linear-gradient(rgba(230, 91, 86, 0.7), rgba(243, 236, 218, 0.7));
    background: -o-linear-gradient(rgba(230, 91, 86, 0.7), rgba(243, 236, 218, 0.7));
    background: -moz-linear-gradient(rgba(230, 91, 86, 0.7), rgba(243, 236, 218, 0.7));
    background: linear-gradient(rgba(230, 91, 86, 0.7), rgba(243, 236, 218, 0.7));
    padding: 1px;
    border-radius: 3px;
}

.club-badge-sm {
    border: 1px solid #b0b0b0;
    background: #f3ecda;
    padding: 1px;
    border-radius: 3px;
}

a {
    text-decoration: none;
}

/* backgrounds */

.bgbubbles {
    background: url('/images/namebg/bubbles.gif') repeat center;
    color: #1f958a;
    text-shadow: 0 0 1px #caffff;
    padding: 2px;
    font-weight: 800;
}

.bglaser {
    background: url('/images/namebg/laser.gif') repeat center;
    color: #f300e7;
    text-shadow: 0 0 1px #1193ff;
    padding: 2px;
    font-weight: 550;
}

.bgsmoke {
    background: url('/images/namebg/smoke.gif') repeat top;
    color: #101012;
    text-shadow: 0 0 1px #fff;
    padding: 2px;
    font-weight: 700;
}

.bgblood {
    background: url('/images/namebg/blood.gif') repeat top;
    color: #d30309;
    text-shadow: 0 0 1px rgb(255, 117, 76);
    padding: 2px;
    font-weight: 600;
}

.bggreenspark {
    background: url('/images/namebg/greenspark.gif') repeat bottom;
    color: #13b310;
    text-shadow: 0 0 1px rgb(6, 255, 2);
    padding: 2px;
    font-weight: 600;
}

.bgfireworks {
    background: url('/images/namebg/fireworks.gif') repeat center;
    color: #ff921d;
    text-shadow: 0 0 1px rgb(255, 244, 0);
    padding: 2px;
    font-weight: 600;
}

.bgsmoke3 {
    background: url('/images/namebg/smoke3.gif') repeat top;
    color: #141413;
    text-shadow: 0 0 1px rgb(255, 225, 178);
    padding: 2px;
    font-weight: 600;
}

.bgstars {
    background: url('/images/namebg/stars.gif') repeat center;
    color: rgb(174, 255, 35);
    text-shadow: 0 0 1px rgb(225, 255, 93);
    padding: 2px;
    font-weight: 600;
}